html 
    padding: 0
    margin: 0

body
    font-size: 18px
    height: 100vh
    width: 100%
    font-family: "Kumbh Sans", sans-serif
    font-weight: 400
    background: url("/images/bg-pattern-top.svg") no-repeat top, url("/images/bg-pattern-bottom.svg") no-repeat bottom, hsl(185, 75%, 39%)
    background-size: 60%, 60%
    background-position: -30% 50%, 130% -50%
    box-sizing: border-box

.wrapper
    display: flex
    justify-content: center
    flex-direction: column
    align-items: center
    height: 100%
    width: 100%

#card 
    background: white
    border-radius: 10px
    box-shadow: rgba(0,0,0,.3)
    width: 450px
    margin: auto
    .bottom
        display: flex
