html 
    padding: 0
    margin: 0

body
    font-size: 18px
    font-family: "Kumbh Sans", sans-serif
    font-weight: 400
    background: url("/images/bg-pattern-top.svg") no-repeat top left, url("/images/bg-pattern-bottom.svg") no-repeat bottom right, hsl(185, 75%, 39%)
    box-sizing: border-box
